In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM, Dense, Embedding
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("processed_data/final_pre-processed.csv")

In [3]:
df

,Unnamed: 0,reviewText,Ratings
0,0,What a spectacular tutu! Very slimming.,5.0
1,1,What the heck? Is this a tutu for nuns? I know...,1.0
2,2,Exactly what we were looking for!,5.0
3,3,I used this skirt for a Halloween costume and ...,5.0
4,4,This is thick enough that you can't see throug...,4.0
...,...,...,...
2610129,2839935,"Love the shorts.. amazing comfortable, perfect...",5.0
2610130,2839936,Superb quality,5.0
2610131,2839937,Works every time,5.0
2610132,2839938,I have a briley bolt release paddle installed ...,5.0
2610133,2839939,Works great,5.0

In [4]:
df = df.drop('Unnamed: 0',axis=1)[:4000]

In [5]:
df["Ratings"] = df["Ratings"].astype(int)

In [6]:
text_vectorizer = TfidfVectorizer(max_df=.8)
text_vectorizer.fit(df['reviewText'])
def rate(r):
    ary2 = []
    for rating in r:
        tv = [0,0,0,0,0]
        tv[rating-1] = 1
        ary2.append(tv)
    return np.array(ary2)

In [7]:
X = text_vectorizer.transform(df['reviewText']).toarray()
y = rate(df['Ratings'].values)

In [8]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [9]:
y

array([[0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1],
       ...,
       [0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1]])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

In [11]:
model = Sequential()
model.add(Dense(128,input_dim=X_train.shape[1]))
model.add(Dense(5,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='rmsprop',metrics=['accuracy'])
model.fit(X_train,y_train,validation_data=(X_test, y_test),epochs=10,batch_size=32,verbose=1)
model.evaluate(X_test,y_test)[1]

Metal device set to: Apple M1
Epoch 1/10

2023-08-23 22:51:33.724224: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

100/100 [==============================] - 1s 11ms/step - loss: 1.0256 - accuracy: 0.6862 - val_loss: 0.8839 - val_accuracy: 0.6975
Epoch 2/10
100/100 [==============================] - 1s 10ms/step - loss: 0.7912 - accuracy: 0.6959 - val_loss: 0.8160 - val_accuracy: 0.7000
Epoch 3/10
100/100 [==============================] - 1s 10ms/step - loss: 0.6819 - accuracy: 0.7312 - val_loss: 0.7806 - val_accuracy: 0.7038
Epoch 4/10
100/100 [==============================] - 1s 10ms/step - loss: 0.5890 - accuracy: 0.7763 - val_loss: 0.7800 - val_accuracy: 0.6963
Epoch 5/10
100/100 [==============================] - 1s 10ms/step - loss: 0.5072 - accuracy: 0.8203 - val_loss: 0.7859 - val_accuracy: 0.6963
Epoch 6/10
100/100 [==============================] - 1s 10ms/step - loss: 0.4346 - accuracy: 0.8594 - val_loss: 0.8069 - val_accuracy: 0.6800
Epoch 7/10
100/100 [==============================] - 1s 10ms/step - loss: 0.3729 - accuracy: 0.8869 - val_loss: 0.8309 - val_accuracy: 0.6875
Epoch 8/10
100/100 [==============================] - 1s 10ms/step - loss: 0.3215 - accuracy: 0.9062 - val_loss: 0.8668 - val_accuracy: 0.6888
Epoch 9/10
100/100 [==============================] - 1s 10ms/step - loss: 0.2773 - accuracy: 0.9197 - val_loss: 0.9037 - val_accuracy: 0.6700
Epoch 10/10
100/100 [==============================] - 1s 10ms/step - loss: 0.2424 - accuracy: 0.9275 - val_loss: 0.9402 - val_accuracy: 0.6787
25/25 [==============================] - 0s 7ms/step - loss: 0.9402 - accuracy: 0.6787

0.6787499785423279